<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta> charset="UTF-8"></meta>
    <title>hello</title>
    
</head>
<body>

<h1>Hello page!</h1>

No data pulled from application so can present webpage with 
<p>
@Override
	public void addViewControllers(ViewControllerRegistry registry) {
		registry.addViewController("/hello").setViewName("hello");
	}
</p>
	in WebConfig.java
	
	
	<p>
	<a href="/index.html"><span>Click here to move to index</span></a>
	<a href="/success.html"><span>Click here to move to success</span></a>
</p>
</body>

</html>