<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Uploading file</title>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
</head>
<body>
	<h1>Uploading file</h1>

		<!-- <form action="/doupload" method="post" enctype="multipart/form-data"> -->
		<form action="#" th:action="@{/doupload}" th:object="${upload}"
			method="post">
			<label>Enter file</label>
			<!-- <input type="file" name="file"></input>  -->
			<p>
				File: <input type="file" th:field="*{file}" />
			</p>
			<button type="submit">Upload</button>
		</form>
</body>
</html>